n8n-workflows/create-patient-workflow.json
{
  "name": "إضافة مريض جديد - Create Patient",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-patient",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - استقبال الطلب",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create-patient-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.name }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.phone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-input",
      "name": "التحقق من البيانات",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/create-patient",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { \"name\": $json.body.name, \"phone\": $json.body.phone } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "create-patient-api",
      "name": "إنشاء المريض في قاعدة البيانات",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "success-response",
      "name": "استجابة النجاح",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { \"success\": false, \"error\": \"Name and phone are required\", \"error_ar\": \"الاسم والهاتف مطلوبان\" } }}",
        "options": {}
      },
      "id": "error-response",
      "name": "استجابة الخطأ - بيانات ناقصة",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook - استقبال الطلب": {
      "main": [
        [
          {
            "node": "التحقق من البيانات",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "التحقق من البيانات": {
      "main": [
        [
          {
            "node": "إنشاء المريض في قاعدة البيانات",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "استجابة الخطأ - بيانات ناقصة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "إنشاء المريض في قاعدة البيانات": {
      "main": [
        [
          {
            "node": "استجابة النجاح",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-02-14T10:00:00.000Z",
  "versionId": "1"
}
